/* Estilos generales */

/* Importar la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* Usar la fuente Poppins */
    background-color: #f5f5f5;
    /* Color de fondo */
}

/* Cambiar color y subrayado al pasar el mouse por un enlace */
a {
    color: black;
}

a:hover {
    color: #0078ff;
    /* Cambiar el color al azul */
    text-decoration: none;
    /* Eliminar subrayado */
    transition: all 0.5s ease-in-out;
    /* Animación suave */
}

/* Cambiar el color de enlaces visitados */
a:visited {
    color: initial;
    /* Mantener el color original */
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    color: #fff;
    padding: 15px 0;
    background: #0062d3;
}

@media (min-width: 2000px) {
    body {
        font-size: 2rem;
    }
}