/* Estilos para la galería */
.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* Altura del 70% del viewport */
    height: 50vh;
}

/* Estilos para cada ítem de la galería */
.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;

    &:hover {
        flex: 7;
        /* Expandir el ítem al hacer hover */
    }
}

.item-1 {
    background-image: url('../../img/osniel1.jpg');
}

.item-2 {
    background-image: url('../../img/osniel2.jpg');
}

.item-3 {
    background-image: url('../../img/osniel3.jpg');
}

.item-4 {
    background-image: url('../../img/osniel4.jpg');
}

.item-5 {
    background-image: url('../../img/osniel5.jpg');
}


/* Estilos para dispositivos móviles */
@media (max-width: 500px) {
    .gallery-wrap {
        flex-direction: column;
        /* Cambiar a columna en dispositivos móviles */
        max-height: none;
        /* Restaurar la altura predeterminada */
        height: 70vh;
    }
}

.item {
    flex: 1;
    /* Restaurar el valor de flex predeterminado */
    height: 50vh;
    /* Altura del 50% del viewport */
}